@charset "utf-8";
/* CSS Document */
@import url("Grid_system.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');
@import url("all.css");
.f-quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.f-oswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body
{
	background-color:#EFF1E6;
	color: rgba(0,0,0,0.8);
	font-family: "Quicksand", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
}
h1,h2,h3,h4,.menu
{
	font-family: "Oswald", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
.font-dacbiet
{ font-family: "montecarlo", cursive;
font-weight: 800;
color: rgba(109,42,182,1.00)}
.menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu ul li
{
	display: inline-block;/*day cac list len canh nhau 1 hang*/
	position: relative;/*cho dt con dung dien tich cua minh de dinh vi vi tri*/
}
.menu ul li a:hover
{
	background-color: #E8FB59;
	
}
.menu ul li a
{
	background-color: yellow;
	padding: 8px 16px; 
	display: block;
	text-decoration: none; color: black;
}
.menu ul ul
{
	position: absolute;
	left: 0; top: 100%;
	background-color:rgba(255,255,255,0.8);
	width: 200px;
	display: none;
}
.menu ul ul li
{
	display: block;

	border-bottom: 1px solid #60631A;
}
.menu ul li:hover> ul
{
	display: block;
}
.menu 
{
	border-bottom: thin solid; color: yellow
}
h1
{
	background: #121FCF;
background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h4
{
	color: rgba(19,213,161,1.00)
}

.text-center{ text-align: center}
.text-right{text-align: right}
.text-left{ text-align: left}
.text-justify{ text-align: justify}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
  
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
	background: #fff
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    color: #d92525;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    color: #e45a5a;
    font-weight: bold;
    font-size: 14px;
}
a:hover{
	color:#FF0004;
}
.bg-primary{color:#FF0004}
.bg-dark{background-color:#000000}
.bg-light{background-color:#EEEEEE}
.bg-white{background-color:#FFFFFF}
.bg-success{background-color: greenyellow}
.bg-danger{background-color: red}
.bg-gradient { background-image: linear-gradient(red,green)}
.box-shadow-1{ box-shadow:5px 4px 5px rgba(0,0,0,0.4)}
.text-shadow{text-shadow: 4px 4px 10px rgba(0,0,0,0.2)}


